CT_CONFIG_VERSION="4"
CT_PREFIX_DIR="${CT_PREFIX:-${HOME}/${CROSS_DIR}}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a72"
CT_ARCH_64=y
CT_TARGET_VENDOR="rpi4"
CT_KERNEL_LINUX=y
CT_BINUTILS_PLUGINS=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
